doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title MIT Test
		script(type='text/javascript' src='./script.js')
		link(rel='stylesheet' href='./style.css')
	body
		main#ai-main
			header#ai-header
				h1.ai-header-title
					|The State of
					br
					|Artificial Intelligence
					
				h2.ai-header-intro Machine learning, deep learning and natural language processing are a few of the AI variants coming into mainstream business usage. But a host of challenges remain. Some interesting statistics illustrate the opportunities and the hurdles.

				.ai-more
					.ai-more-text Click on a title to find out more
					.ai-more-bracket

			#ai-grid-wrap
				.ai-view-panel.ai-left(data-view='left')
					h2.ai-view-title Types of AI in use today:
					.ai-view-inner
						.ai-view-instruct Click on a colored square to explore the chart
						.ai-view-key
							.ai-view-key-square
							.ai-view-key-label 1 square = 1%
				#ai-grid
				.ai-view-panel.ai-right(data-view='right')
					h2.ai-view-title Top challenges posed by AI:
					.ai-view-inner
						.ai-view-instruct Click on a colored square to explore the chart
						.ai-view-key
							.ai-view-key-square
							.ai-view-key-label 1 square = 1%

			footer#ai-footer
				.ai-credit Source: The 2017 Deloitte State of Cognitive Survey