@import url(https://fonts.googleapis.com/css?family=Palanquin+Dark|Roboto:300,500);

$grey: #3e3e3e;
$turquoise: #00ffff;

$white: #fff;
$azure: #009bff;
$green: #009e20;
$pink: #ff00c6;
$orange: #ff6c00;
$purple: #3e35f9;
$gold: #b9b900;
$violet: #9400ff;

$ease: ease-in-out;
$easeExpo: cubic-bezier(1, 0, 0, 1);
$easeBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$pupilSize: 1vw;

@mixin sm {
	@media(max-width: 992px) {
		@content;
	}
}

@mixin fs1 {
	font-size: 65px;
	line-height: 70px;
	@include sm {
		font-size: 45px;
		line-height: 47px;
	}
}

@mixin fs2 {
	font-size: 60px;
	line-height: 68px;
	@include sm {
		font-size: 35px;
		line-height: 38px;
	}
}

@mixin fs3 {
	font-size: 25px;
	line-height: 30px;
	@include sm {
		font-size: 20px;
		line-height: 23px;
	}
}

@mixin fs4 {
	font-size: 28px;
	line-height: 30px;
	@include sm {
		font-size: 18px;
		line-height: 21px;
	}
}

@mixin fs5 {
	font-size: 20px;
	line-height: 24px;
	@include sm {
		font-size: 15px;
		line-height: 18px;
	}
}

@mixin fs6 {
	font-size: 16px;
	line-height: 20px;
	@include sm {
		font-size: 11px;
		line-height: 13px;
	}
}

@mixin roboto {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	@include sm {
		font-weight: 500;
	}
}

@mixin palanquin {
	font-family: 'Palanquin Dark', sans-serif;
	font-weight: normal;
}

#state-of-ai {
	width: 100%;
	max-width: 1180px;
	background: black;
	margin: auto;
	padding: 30px;
	color: $white;
	display: table;
	@include fs4;
	@include roboto;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

// The header
header#ai-header {
	padding: 0 0 1em 0;
	.ai-header-title {
		@include palanquin;
		@include fs1;
	}
	.ai-header-intro {
		max-width: 30em;
		margin: 0;
		@include roboto;
		@include fs3;
		padding: 2em 0 4em 0;
	}
	&#ai-types {
		margin-bottom: 1vw;
	}
	&#ai-challenges {
		margin-top: 1vw;
		transform: rotate(180deg);
	}
	.ai-more {
		width: 70%;
		display: table;
		margin: auto;
		position: relative;
	}
	.ai-more-text {
		display: table;
		margin: auto;
		padding: .5em;
		color: $turquoise;
		border: 1px solid $turquoise;
		@include roboto;
		@include fs5;
	}
	.ai-more-bracket {
		width: 0;
		height: 0;
		margin: -1px auto 0 auto;
		position: absolute;
    left: 50%;
		top: 100%;
		border: solid $turquoise;
		border-width: 1px 1px 0 1px;
		&::before, &::after {
			width: 10px;
			height: 10px;
			position: absolute;
			top: calc(100% - 12px);
			border: solid $turquoise;
			border-width: 0 1px 1px 0;
			transform: rotate(45deg);
			opacity: 0;
			content: '';
			transition: all 250ms $ease;
			transition-delay: 1250ms;
		}
		&::before {
			left: -6px;
		}
		&::after {
			right: -6px;
		}
		&.ai-expand {
			animation-name: expand-bracket;
			animation-duration: 1500ms;
			animation-fill-mode: forwards;
			animation-timing-function: $easeExpo;
	    &::before, &::after {
	    	opacity: 1;
	    }
		}
	}
}

@keyframes expand-bracket {
	0% {
		width: 0;
		height: 0;
		left: 50%;
	}
	70% {
		width: 100%;
		height: 0;
		left: 0;
	}
	100% {
		width: 100%;
		height: 30px;
		left: 0;
	}
}

// The grid
#ai-grid-wrap {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	position: relative;
}
#ai-grid {
	width: 56%;
	margin: 2.2em 2% 3em 2%;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	align-content: start;
	@include sm {
		width: 46%;
	}
}
.ai-cell {
	width: calc(10% - 6px);
	height: 0;
	padding-bottom: calc(10% - 6px);
	background: $grey;
	margin: 3px;
	position: relative;
	transition: background 300ms $ease;
}
.ai-eye {
	&:hover {
		cursor: pointer;
		.ai-pupil {
			transition: all 50ms linear;
			left: calc(50% - #{$pupilSize/2}) !important;
			top: calc(50% - #{$pupilSize/2}) !important;
		}
	}
	#ai-grid.ai-cell-active &:not(.ai-active) {
		background: transparent;
	}
}
.ai-fill {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: opacity 300ms $ease;
	#ai-grid.ai-cell-active .ai-eye:not(.ai-active) & {
		opacity: .5;
	}
}
.ai-pupil {
	width: $pupilSize;
	height: $pupilSize;
	position: absolute;
	transition: all 100ms linear;
	left: calc(50% - #{$pupilSize/2});
	top: calc(50% - #{$pupilSize/2});
	border-radius: 50%;
	background: $turquoise;
}
.ai-tooltip {
	width: 250%;
	position: absolute;
	top: calc(100% + .5em);
	left: .5em;
	z-index: 4;
	opacity: 0;
	pointer-events: none;
	@include fs6;
	@include roboto;
	font-weight: 500;
	text-shadow: 0 0 1px rgba(black,.8);
	transition: opacity 300ms $ease;
	.ai-cell[data-index='10'] & {
		left: unset;
		right: .5em;
		text-align: right;
	}
	#ai-grid:not(.ai-cell-active)[data-view='left'] &.ai-left,
	#ai-grid:not(.ai-cell-active)[data-view='right'] &.ai-right,
	#ai-grid[data-view='left'] .ai-eye:hover &.ai-left,
	#ai-grid[data-view='right'] .ai-eye:hover &.ai-right {
		opacity: 1;
	}
	@include sm {
		width: 400%;
	}
}
// Left and right panels
.ai-view-panel {
	width: 20%;
	@include sm {
		width: 25%;
	}
}
.ai-view-inner {
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms $ease;
	.ai-active & {
		opacity: 1;
		pointer-events: all;
	}
}
.ai-view-title {
	padding: 2em 0;
	opacity: .5;
	user-select: none;
	transition: opacity 300ms $ease;
	@include palanquin;
	@include fs4;
	&:hover {
		cursor: pointer;
	}
	.ai-active &, &:hover {
		opacity: 1;
	}
	&.ai-flash {
		animation: flashOut 1200ms;
		.ai-active & {
			opacity: 1;
			animation: none;
		}
	}
}
.ai-instruct-arrow {
	width: 10%;
	height: 1px;
	position: relative;
	background-color: $turquoise;
	transition: width 0 $easeExpo;
	transition-delay: 300ms;
	.ai-active & {
		width: 100%;
		transition: width 300ms $easeExpo;
		transition-delay: 150ms;
	}
	.ai-right & {
		float: right;
	}
	&::before {
		width: 10px;
		height: 10px;
		position: absolute;
		top: -5px;
		border: solid $turquoise;
		content: '';
		.ai-left & {
			right: 0;
			border-width: 1px 1px 0 0;
			transform: rotate(45deg);
		}
		.ai-right & {
			left: 0;
			border-width: 0 0 1px 1px;
			transform: rotate(45deg);
		}
	}
}
.ai-view-instruct {
	color: $turquoise;
	position: relative;
	padding: 1em 0;
	@include roboto;
	@include fs6;
}
.ai-view-key {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: rows;
	align-items: center;
	@include fs5;
}
.ai-view-key-square {
	width: 1em;
	height: 1em;
	display: inline-block;
	background-color: $grey;
}
.ai-view-key-label {
	display: inline;
	margin-left: 1em;
	@include palanquin;
	@include fs6;
}
.ai-info {
	position: relative;
}
.ai-info-box {
	margin: 2em 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	// left: -9999px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms $ease;
	&.ai-active {
		opacity: 1;
		pointer-events: all;
	}
}
.ai-percent {
	margin: 0 0 5px 0;
	@include palanquin;
	@include fs2;
}
.ai-label {
	@include palanquin;
	@include fs3;
}
.ai-define {
	margin: 15px 0 0 0;
	color: $white;
	@include roboto;
	@include fs5;
}
footer#ai-footer {
	padding: 3em 0 0 0;
	@include roboto;
	@include fs6;
}


@keyframes flashOut {
	0% {
		opacity: .5;
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: .5;
	}
}